aiohttp
aioboto3
aiofile
aws-lambda-powertools
cryptography
cumulonimbus-models@git+https://github.com/guywilsonjr/CumulonimbusModels@v0.1.0-rc0
docker
GitPython
pydantic
tenacity
types-aioboto3[sqs]
PyYAML