aiohttp
aioboto3
aiofile
aws-lambda-powertools
click
cumulonimbus-models@git+https://github.com/guywilsonjr/CumulonimbusModels@v0.1.0-rc1
GitPython
pydantic
pystemd
pysystemd
tenacity
types-aioboto3[sqs]
